*{
    padding:0;
    margin:0;
    color: whitesmoke;
    font-family: sans-serif;
}
body{
    background-color: rgb(193, 185, 185);
    text-align: center;
    padding: 50px;
}
.container{
    margin: 30px;
   
}
h1{
    color: purple;
    border: 3px solid black;
    display: inline-block;
    padding: 10px;    
}
.turn-container{
    width: 170px;
    height: 80px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
}
.turn-container h2{
    grid-column-start: 1;
    grid-column-end: 3;
    color: darkblue;
}
.turn-container .turn-box{
    border: 5px solid black;
    padding: 6px;
    height: 25px;
    font-size:x-large;

}
#o-turn{
    border-left: none;
}
.align{
    display: flex;
    justify-content: center;
    align-items: center;

}
.main-grid
{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  height: 260px;
  width: 250px;
  margin: 30px auto;
  border: 2px solid black;
  
  
}
.bg{
    border: 2px solid black;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 40px;
    background-color:  darkred;
    z-index: -1;
}
.box{
    border: 2px solid black;
    font-size: xx-large;
    font-weight: 700;
    cursor: pointer;
    
}
.box:hover{
     background-color: darkred;
}
#play-again{
    background-color: darkmagenta;
    padding: 10px 20px;
    margin: 10px;
    font-size: x-large;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
#play-again:hover{
    width: 180px;
    background-color: lightcoral;
}